
    html { font-size: 1vmax; }
    p {font-size: 1vmax;}
    b {font-size: 1.2vmax;}
    a {font-size: 1.23vmax;} 
    h6 {font-size: 1.23vmax;}
    h5 {font-size: 1.35vmax;}
    h4 {font-size: 1.5vmax;}
    h3 {font-size: 1.6vmax;}
    h2 {font-size: 1.8vmax;}
    h1 {font-size: 2vmax;}
    
    body { font-family: Arial, Helvetica, sans-serif; background-color: #f4e5b5; text-align: center; }
