
    html { font-size: 1.3vmax; }
    p {font-size: 1.3vmax;}
    b {font-size: 1.43vmax;}
    a {font-size: 1.43vmax;} 
    h6 {font-size: 1.43vmax;}
    h5 {font-size: 1.45vmax;}
    h4 {font-size: 1.46vmax;}
    h3 {font-size: 1.7vmax;}
    h2 {font-size: 1.8vmax;}
    h1 {font-size: 2vmax;}
    
    body { font-family: Arial, Helvetica, sans-serif; background-color: #f4e5b5; text-align: center; }
