
    html { font-size:calc(100%+3vmax); }
    p {font-size: calc(100%+3vmax);}
    b {font-size: calc(100%+3.2vmax);}
    a {font-size:calc(100%+3.23vmax);} 
    h6 {font-size:calc(100%+3.23vmax);}
    h5 {font-size: calc(100%+3.35vmax);}
    h4 {font-size:calc(100%+3.5vmax);}
    h3 {font-size:calc(100%+3.6vmax);}
    h2 {font-size:calc(100%+3.8vmax);}
    h1 {font-size:calc(100%+4vmax);}
    
    body { font-family: Arial, Helvetica, sans-serif; background-color: #f4e5b5; }
